@mixin clearfix {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  @mixin box-shadow-s {
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  }

  @mixin absCenter {
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
  }